.bubbaCont {
    margin-block: 40px;
    border-bottom: 1px solid #584F6D;
    padding-bottom: 10px;

    .bubba {
        position: relative;
        margin: 0 auto;
        width: 73px;
        height: 80px;
    }

}
